<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found BECAUSE WE DIDNT HAVE TIME TO CREATE THIS MOTHERFUCKING PAGE FUCK OFF WILL YA
      <span role="img" aria-label="Face with rolling eyes">🙄</span>
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>
