<!-- Start of Form column -->
<div class="container wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>How it works</h3>
      </div>
    </div>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/tellUs.jpg" alt="Your Needs">
          <div class="card-body">
            <h5 class="card-title">Tell us your energy needs</h5>
            <p class="card-text">
              We are here to help you make an informed decision. Simply tell us a little bit about
              your location and what you are looking for.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/compare.jpg" alt="Comparing Systems">
          <div class="card-body">
            <h5 class="card-title">Compare brands and outputs</h5>
            <p class="card-text">
              Immediately see solar system costs, and compare outputs. See system lifespan and forecast savings as well.
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/readyToInstall.jpg" alt="Installed Solar">
          <div class="card-body">
            <h5 class="card-title">Select your solar system</h5>
            <p class="card-text">
              Once your finished comparing solar systems you will have a better understanding and be ready to begin
              requesting quotes from installers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center mt-2">
        <form class="container userForm">
          <div class="form-group">
            <div class="card-body">
              <label for="userLocation">Your location</label>
              <select class="form-control" id="userLocation">
                <option></option>
                {{#each locations}}
                <option>{{this.dataValues.location}}</option>
                {{/each}}
              </select>
              <div class="form-group">
                <label for="brand">Solar system brand</label>
                <select class="form-control" id="userBrand">
                  <option></option>
                  {{#each solar}}
                  <option>{{this.dataValues.brand}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label for="userUsage">How much area do you want in m²</label>
                <select class="form-control" id="userArea">
                  <option></option>
                  <option>2</option>
                  <option>4</option>
                  <option>6</option>
                  <option>8</option>
                  <option>10</option>
                  <option>12</option>
                  <option>14</option>
                  <option>16</option>
                  <option>18</option>
                  <option>20</option>
                </select>
              </div>
              <div class="form-group">
                <label for="userUsage">Usage in kWh (kilowatt-hours) on your last bill</label>
                <input class="form-control" id="userUsage" type="number" />
              </div>
              <div class="form-group">
                <label for="output">Solar system output</label>
                <select class="form-control" id="userOutput">
                  <option></option>
                  {{#each solar}}
                  <option>{{this.dataValues.output}} kwh</option>
                  {{/each}}
                </select>
              </div>

              <button type="submit" class="btn btn-dark mt-2">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End of Form column -->

    <!-- Start of Results column -->
    <div class="col-sm-6">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Your Annual Usage</h5>
          <p class="card-text">
            {{!-- Anual usage result here --}}kWh
          </p>
          <p class="card-text"><small class="text-muted">Calculated using your 2 monthly usage. Usages will
              differ with each change of season.</small></p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Solar (kWh) generated per year</h5>
          <p class="card-text">
            {{!-- Solar generated per year here --}}kWh
          </p>
          <p class="card-text"><small class="text-muted">Average yearly generated kWh.</small>
          </p>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Savings Per Year</h5>
          <p class="card-text">
            ${{!-- Savings per year here --}}
          </p>
          <p class="card-text"><small class="text-muted">Average savings calculated at $0.24 per kWh.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Results column -->

<script>



</script>