a {
  margin: 0px 10px;
  color: rgb(41, 43, 44);
}

.wrapper {
  margin-bottom: 100px;
}

.bg-custom {
  background-image: linear-gradient(90deg, #1441be 0%, #ffffff 100%);
}

.navbar {
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.6),
    20px 6px 20px 6px rgba(0, 0, 0, 0.19);
}

@media (max-width: 380px) {
  footer {
    font-size: 15px;
  }
}
